
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Set core body defaults */
body {
  font-family: 'Poppins', sans-serif;
  background: #1ECBB6
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.app-title{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.music-container {
  background-color: #FDFDFD;
  border-radius: 100px;
  max-width: 900px;
  min-height: 420px;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:100px;
  width: 80%;

}

.img-container > img{
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 12px 2px #7a807c;
}

.title{
  font-weight: 400;
  font-size: 30px;
  color: #212121;
}

.author{
  font-weight: 300;
  font-size: 16px;
  color: #7A7A7A;
  margin-top: -35px
}


.action-btn {
  background-color: #FDFDFD;
  border: 0;
  color: #B8B8B8;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;;
}

.action-btn-big {
  color: #797777;
  font-size: 2em;
}

.action-btn:focus {
  outline: 0;
}

.progress-container {
  background: rgb(233, 238, 237);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #1ECBB6;
  border-radius: 5px;
  height: 100%;
  width:0%;
  transition: width 0.1s linear;
}

@media screen and (max-width: 860px) {
  .music-container{
    flex-direction: column;
    border-radius: 50px;
    gap: 5px;
  }

  .img-container > img{
    width: 230px;
    border-radius: 50%;
    box-shadow: 5px 5px 12px 2px #7a807c;
    margin-top: 20px;
  }

  .progress-container{
    margin-bottom: 40px;
  }
}
